footer {
  font: {
    family: "Barlow", sans-serif;
    size: 30px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      font: {
        family: "Barlow", sans-serif;
        size: 20px;
      }
    }
  }
}

.navbar-light {
  .navbar-brand {
    font: {
      family: "Barlow", sans-serif;
      size: 30px;
    }
  }
}

.texto {
  font: {
    family: "Barlow", sans-serif;
    size: 30px;
  }
}

h1 {
  font: {
    size: 40px;
  }
}

.contenidoProductos {
  font: {
    family: "Barlow", sans-serif;
  }
}

.divMensaje {
  font: {
    family: "Barlow", sans-serif;
    size: 20px;
  }
}
